.cm-s-omen { color: rgb(252, 166, 53);; background: #111111; }

.cm-s-omen span.cm-def {color:rgb(204, 204, 204);}
.cm-s-omen span.cm-number, .cm-s-omen span.cm-atom { color: #e1e1e1; }
.cm-s-omen span.cm-comment { color: rgb(75, 75, 75); font-style: italic; line-height: 1em; }
.cm-s-omen span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-omen span.cm-variable { color: rgb(177, 177, 177);  }
.cm-s-omen span.cm-variable-2 { color:  rgb(177, 177, 177);  }

.cm-s-omen span.cm-qualifier { color: #555; }
.cm-s-omen span.cm-keyword { color: rgb(144, 143, 143); }
.cm-s-omen span.cm-builtin { color: rgb(110, 110, 110); }
.cm-s-omen span.cm-link { color: rgb(151, 151, 151); }
.cm-s-omen span.cm-error { background-color: rgba(255, 255, 255, 0); }
.cm-s-omen .CodeMirror-activeline-background { background: #444444; }
/* .cm-s-omen span.cm-bracket {color: rgb(161, 251, 57) !important;} */
.cm-s-omen span.CodeMirror-nonmatchingbracket {color: rgb(255, 0, 0);}
.cm-s-omen .CodeMirror-matchingbracket { outline:1px solid rgb(71, 71, 71); color:rgb(123, 255, 0) !important; }

/* .cm-s-omen .CodeMirror-cursor { border-left: 1px solid #fbfbfb;  border-right: .5em solid #fbfbfb;opacity: .5; }
.cm-s-omen .cm-fat-cursor .CodeMirror-cursor { background: #fbfbfb;  opacity: .5; }
 */

 .cm-s-omen .CodeMirror-cursor { border-left: 1px solid rgb(255, 255, 255)} 




.cm-s-omen .CodeMirror-gutters { background: #222222; min-width: 41px; border-right: 0; }
.cm-s-omen .CodeMirror-linenumber { color: #555; cursor: default; }
.cm-s-omen div.CodeMirror-selected { background: #424242!important; }

/* .cm-s-omen span.cm-bracket { color: rgb(233, 85, 85); }  */
/* 

.cm-s-omen span.cm-qualifier { color: #555; }                  
.cm-s-omen span.cm-builtin { color: #214e7b; }               
.cm-s-omen span.cm-bracket { color: #cc7; }       */

.cm-s-omen span.cm-operator { color: rgb(201, 92, 92); }

.cm-s-omen span.cm-property { color: #7e7e7e; }
/* .cm-s-omen span.cm-punctuation, .cm-s-omen span.cm-unit, .cm-s-omen span.cm-negative { color: rgb(252, 166, 53);; } */
.cm-s-omen span.cm-string { color: #e1e1e1; line-height: 1em; }
.cm-s-omen .cm-string-2 { color: #e1e1e1; line-height: 1em; }

/* .cm-s-omen span.cm-operator { color: #dddbd9; }
.cm-s-omen span.cm-positive { color: #6a51e6; } */
