@font-face {
  font-family: Hermit;
  src:  url('../../../public/editor/style/fonts/Hermit-Bold.otf'); 
}

#app_container{
  margin-left:2%;
 
  width:620px;

  z-index: 1000;
}
.ui{
  font-family: Hermit;
  font-size:13px;
    background-color:#0a001f;
    border:1px solid #99b2ff;
    padding:0.5%;
    color:#99b2ff;
    margin-bottom:0.5%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tab_box{
  background-color:rgba(0, 0, 0, 0.33);
  z-index:1000;
  border:1px solid #99b2ff;
  text-align: center;
  cursor:move;
  padding:0.5%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}
.log_line{
  font-family: Hermit;
  font-size: 17px;
  background-color:#0a001f;
  border:1px solid rgb(113, 226, 215);
  padding:0.5%;
  color:rgb(113, 226, 215);

}
.tab_line{
  font-family: 'Fira Code'; 
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  font-size: 12px;
  background-color:#0a001f;
  border:1px solid #99b2ff;

  color:#99b2ff;

}
#error_line{
  z-index:1000;
  font-family: Hermit;
  background-color:#0a001f;
  border:1px solid #ff275d;
  pointer-events: none;
  padding:0.5%;
  color:#ff275d;
  margin-left:1%;
  margin-top:-1.6%;
}
#console{
  font-family: Hermit;
    font-size: 22px;
    margin-left: 2%;
    width:90%;
    border:none;
    background-color:transparent;
}
.CodeMirror{
    text-align: left;
    overflow: hidden;
border: 1px solid #99b2ff;
font-size: 13px;
}


.CodeMirror-dialog {
    position: absolute;
    left: 0; right: 0;
    background: inherit;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
  }
  
  .CodeMirror-dialog-top {
    border-bottom: 1px solid #eee;
    top: 0;
  }
  
  .CodeMirror-dialog-bottom {
    border-top: 1px solid #eee;
    bottom: 0;
  }
  
  .CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: inherit;
    font-family: monospace;
    font-family: 'Fira Code', monospace; 
    font-variant-ligatures: contextual !important;
  }
  
  .CodeMirror-dialog button {
    font-size: 70%;
  }



#sketchContainer{
  position:fixed;
  height:545px;
  width:455px;
  top:40%;
  left:75.2%;
  border:none;
  border-top:solid 1px #99b2ff;
  z-index:2500;

 
} 