@font-face {
    font-family: Hermit;
    src:  url('../../../public/editor/style/fonts/Hermit-Bold.otf'); 
  }
  

body{
     background-color: black;   
     font-family: Hermit;
    }
   
    #tree{
        height:980px; 
        width:100%;
        border:solid 1px #99b2ff
    }
    #textArea{
        background-color:transparent;
        font-size: 15px;
        
        z-index:1000;
        border: solid 1px #99b2ff; 
       
        color:white;
        resize: none;
    }  
 
    #nameInput{
        width:150px;
        background-color:transparent;
        font-size: 15px;
        
        border: solid 1px #99b2ff; 
        z-index:1000;
       
        color:white;
        resize: none;
    }   
    #titleInput{
        width:100px;
        background-color:transparent;
        font-size: 15px;
     
        border: solid 1px #99b2ff; 
        z-index:1000;
       
        color:white;
        resize: none;
    }  
    #levelInput{
        width:50px;
        background-color:transparent;
        font-size: 15px;
    
        border: solid 1px #99b2ff; 
        z-index:1000;
       
        color:white;
        resize: none;
    } 

    #indexInput{
        width:45px;
        background-color:transparent;
        font-size: 15px;
    
        border: solid 1px #99b2ff; 
        z-index:1000;
       
        color:white;
        resize: none;
    }  

    #openJSONButt{
   
        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
        z-index:1000;
       
        color:white
    }
    #fromJSONButt{
        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
     font-family: Hermit;
        z-index:1000;
       
        color:white
    }
    #applyButt{
        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
     
        z-index:1000;
       
        color:white
    }
    #compileButt{
        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
     
        z-index:1000;
       
        color:white;
        width:55px;
     
        margin-right:1%
    }
    #toJSONButt{
        font-family: Hermit;
        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
       
        z-index:1000;
       
        color:white
    }
    #clearButt{
        font-family: Hermit;

        background-color:transparent;
        border:solid 1px #99b2ff;
     padding:2%;
   
        z-index:1000;
       
        color:white
    }

    #selectedIndex{
   
        font-weight: 600;
        text-align: center;
       
        color:white
    }
    #loadedFileText{
        background-color:transparent;
        font-family: Hermit;

        z-index:1000;
       
        color:white
    }

    #infoGuide  {
        display:none;
        border:none;
     padding:2%;
        left:88%;
        top:1%;
        background-color: transparent;
        position:absolute;
        z-index: 1000;
        pointer-events: none;
   
    }
    #tooltip  {
        color:white;
        background-color: transparent;
        pointer-events: none;
        
    
    }
#infoPanel{
    
    top:68%;
    left:2.8%;
    position:fixed;
    border:solid 1px #99b2ff;
    z-index:1500;
    width:400px;
    padding: 1%;
    height:200px;
}   

#output{
    font-family: Hermit;
    color:#99b2ff;
    background-color: transparent;
    border:none;
    
}
    #fileSelector{
        font-family: Hermit;
        
        cursor: pointer;
      
        height:200px;
        background-color:transparent;
        font-size: 15px;
        top:70%;
        left:26.2%;
        border:none;
        border:solid 1px #99b2ff;
        z-index:1500;
        position:fixed;
        color:#eeeeee;
        resize: none;
    } 

 